.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 1024px;
  max-width: 1024px;
  min-height: 519px;
  max-height: 519px;
  border: solid purple;
  border-width: 1px;
  /* background-image: url(../assets/img/headerbg.png);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: 50% 200%;
  transform: rotate(180deg) scaleX(-1.5); */
  /* transform: rotate(-180deg); */
}

.footer-text-container {
  width: 100%;
  min-height: 34px;
  max-height: 34px;
  background-color: #ffdfe1;
}

@media all and (max-width: 600px) {
  .footer-container {
    padding-top: 20px;
    min-height: 264px;
    max-height: 264px;
    min-width: 320px;
    max-width: 320px;
  }
  .footer-text-container {
    min-width: 100%;
    max-width: 100%;
  }
}