.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  min-height: 519px;
  max-height: 519px;
  background-image: url(../assets/img/footerbg.jpg);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: 50% -77%;
}

.footer-text-container {
  width: 100%;
  min-height: 34px;
  max-height: 34px;
  background-color: #ffdfe1;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'CormorantSC-SemiBold';
}

#made-by {
  margin-right: 12px;
}

.url-link {
  text-decoration: none;
  color: #4a90e2;
}

#heart {
  width: 10px;
  height: 10px;
}

@media all and (max-width: 600px) {
  .footer-container {
    min-height: 284px;
    max-height: 284px;
    width: 100%;
    max-width: 320px;
  }
  .footer-text-container {
    font-size: 14px;
  }
  #made-by {
    margin-right: 7px;
  }
}